String Based Practice Questions

Practice Questions

1. Write a program to reverse a string.

In [ ]:
string=input("Enter String input:") #string as input..
print(string[::-1])

Enter String input:rupeshdaha
ahadhsepur

2. Check if a string is a palindrome.

In [ ]:
input_string = input("Enter the string input: ")
cleaned_string = input_string.replace(" ","")
reverse_string=cleaned_string[::-1]
if(cleaned_string==reverse_string):
     print(f"the string  {input_string} is palindrome")
else:
    print(f"the string {input_string} is not palindrome")

Enter the string input: rupesh
the string rupesh is not palindrome

 3.Convert a string to uppercase

In [ ]:
input_string = input("Enter the String: ") # string input
print(input_string.upper()) #Converting into uppercase.

Enter the String: Hello name is Rupesh Kumar Daha
HELLO NAME IS RUPESH KUMAR DAHA

4.Convert a string to lowercase.

In [ ]:
input_string= input("Enter the string value:")
print(input_string.lower())

Enter the string value:My  name is Rupesh Kumar Dah
my  name is rupesh kumar dah

5.Count the number of vowels in a string.

In [ ]:
input_string=input("Enter the string input:")
cleaned_string=(input_string.lower()).replace(" ","")
vowels="aeiou"
count_vowel=0
for vowel in cleaned_string:
  if(vowel in vowels):
    count_vowel+=1

print(f"The number of vowel count in string '{input_string}' is {count_vowel}")

Enter the string input:this is my name rupesh daha
The number of vowel coount in string 'this is my name rupesh daha' is 8

6.Count the number of consonants in a string.

In [ ]:
input_string=input("Enter the string input: ")
cleaned_string=(input_string.lower()).replace(" ","")
vowels="aeiou"
count_consonant=0;
# print(len(cleaned_string))
for vowel in cleaned_string:

   if(vowel in vowels):
    continue
   count_consonant+=1


print(f"The count of consonants in a string '{input_string}' is {count_consonant}")

Enter the string input: this is my name rupesh daha
The count of consonants in a string 'this is my name rupesh daha' is 14

7.Remove all whitespaces from a string.

In [ ]:
string_input= input("Enter the String: ") #input as string...
cleaned_string = string_input.replace(" ","") # remove white space from the string....
print(cleaned_string)

Enter the String: hello   my    name    is   rupesh   kum ar tha
hellomynameisrupeshkumartha

8.Find the length of a string without using the `len()` function.

In [ ]:
input_string= input("Enter the String:") # string input:
length_count=0
for char in input_string:
    if char in input_string:
        length_count+=1

print(f"the length of the string '{input_string}'is  {length_count}") # geting the length without len function

Enter the String:pwskills
the length of the string 'pwskills'is 8

9.Check if a string contains a specific word.

In [ ]:
input_string = input("Enter the string: ")  # string input
word  = input("Enter words you want to find :")  # words input
if(input_string.find(word)==-1):              # return -1 as index if word not exist
  print(f"the word '{word}' does not exist in the String '{input_string}'")
else:
  print(f"The word '{word}' exist in the String '{input_string}' at index {input_string.find(word)}")

Enter the string: hello my name is rupesh kumar daha
Enter words you want to find :is
The word 'is' exist in the String 'hello my name is rupesh kumar daha' at index 14

10.Replace a word in a string with another word.

In [ ]:
input_string = input("Enter the Whole String: ")
word= input("Enter the word which going to replace : ")
word_= input("Enter the word that going to placed:")
new_string = input_string.replace(word,word_)
print(new_string)

Enter the Whole String: I am studying my btech computer englineering
Enter the word which going to replace : btech
Enter the word that going to placed:mtech
I am studying my mtech computer englineering

11.Count the occurrences of a word in a string.

In [ ]:
input_string = input("Enter the string :")
word = input("Enter the word:")
count_occurrences=0
list_string = input_string.split()
# print(list_string)
for i in range(len(list_string)):
  if(list_string[i]==word):
    count_occurrences+=1
print(f"the number of occurrences of word '{word}' in string '{input_string}' is {count_occurrences}")

Enter the string :I am rupesh. I am happy . I have two eyes
Enter the word:I
['I', 'am', 'rupesh.', 'I', 'am', 'happy', '.', 'I', 'have', 'two', 'eyes']
the number of occurrences of word 'I' in string 'I am rupesh. I am happy . I have two eyes' is 3

12.Find the first occurrence of a word in a string.

In [ ]:
string_input = input("Enter the string: ")
word = input("Enter the input word: ")
first_occurrence_index = string_input.find(word)

if( first_occurrence_index !=-1):
  print(f"the first occurence of the string '{word}' is at index {first_occurrence_index}")

Enter the string: hello my name is rupesh kumar daha
Enter the input word: is
the first occurence of the string 'is' is at index 14

13.Find the last occurrence of a word in a string.

In [ ]:
text = input("Enter the string: ")
word = input("Enter the word: ")
last_occurrence_index = text.rfind(word)

if last_occurrence_index != -1:
    print(f"The word {word} last occurs at index {last_occurrence_index}.")
else:
    print(f"The word {word} was not found in the string.")

Enter the string: my name is rupesh. I am rupesh and my sure name is rupesh
Enter the word: rupesh
The word rupesh last occurs at index 51.

14.Split a string into a list of words.

In [ ]:
String_input = input("Enter the string :")
list_word = string_input.split()   #split is inbuild function used to slipt the word by taking space as reference of splitter
print(list_word)

Enter the string :hello my name is rupesh kumar dah a
['My', 'name', 'is', 'rupesh', 'kumar', 'daha', '.', 'Rupesh', 'and', 'Rupesh']

15.Join a list of words into a string

In [ ]:
String_input = input("Enter the string: ")  # taking string as input
list_of_string = String_input.split()   # splitinng string into list
print(list_of_string)    # printing list of String
orignal_string = " ".join(list_of_string)  # joining list with space in between
print(orignal_string) # getting output of orignal_string

Enter the string: hello my name is rupesh kumar daha what is your name
['hello', 'my', 'name', 'is', 'rupesh', 'kumar', 'daha', 'what', 'is', 'your', 'name']
hello my name is rupesh kumar daha what is your name

16.Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
String_input = input("Enter the orignal string: ")  # orignal string taking input from user
list_of_string = String_input.split()  # convert into list
print(list_of_string)
string_with_underscore = "_".join(list_of_string) # joining with underscores
print(string_with_underscore)  # getting output.

Enter the orignal string: hello my name is rupesh kumar daha
['hello', 'my', 'name', 'is', 'rupesh', 'kumar', 'daha']
hello_my_name_is_rupesh_kumar_daha

17.Check if a string starts with a specific word or phrase.

In [ ]:
text = input("Enter the text: ")

# Check if the string starts with a specific word or phrase
word_or_phrase = input("Enter the specific word that used to check :")

# if text.startswith(word_or_phrase):
#     print(f"The string starts with '{word_or_phrase}'.")
# else:
#     print(f"The string does not start with '{word_or_phrase}'.")

# OR
list_text = text.split()
if(list_text[0]==word_or_phrase):
   print(f"The string starts with '{word_or_phrase}'.")
else:
    print(f"The string does not start with '{word_or_phrase}'.")

Enter the text: this is my name rupsh
Enter the specific word that used to check :this
The string starts with 'this'.

18.Check if a string ends with a specific word or phrase.

In [ ]:
text = input("Enter the text: ")
word_or_phrase = input("Enter the specific word tha used to check:")

# if text.endswith(word_or_phrase):
#    print(f"the string ends with '{word_or_phrase}'")
# else:
#   print(f"the string does not end with '{word_or_phrase}'")


# or
list_text = text.split()
if(list_text[len(list_text)-1]==word):
   print(f"the string ends with '{word_or_phrase}'")
else:
  print(f"the string does not end with '{word_or_phrase}'")

Enter the text: hello my name is rupesh
Enter the specific word tha used to check:rupesh
the string ends with 'rupesh'

19.Convert a string to title case (e.g., "hello world" to "Hello World"

In [ ]:
string_input = input("Enter the string: ")
Title_case = string_input.title()
print(Title_case)

Enter the string: hello world
Hello World

20.Find the longest word in a string.

In [ ]:
string_input = input("Enter the string: ")
length_list =[]
length_max=0
store_string=""
list_string = string_input.split()
for i in range(len(list_string)):
    length_list.append(len(list_string[i]))
    if length_max < length_list[i]:
      length_max = length_list[i]
      store_string = list_string[i]
print(f"the largest word in the string '{string_input}'  is {store_string}")

Enter the string: hello my name is rupesh kumar daha and I am from napal tell me about  you and i am very happppppppyp and f
the largest word in the string 'hello my name is rupesh kumar daha and I am from napal tell me about  you and i am very happppppppyp and f'  is happppppppyp

21.
Find the shortest word in a string.

In [ ]:
string_input = input("Enter the string: ")
length_list =[]
length_min=float('inf')
store_string=""
list_string = string_input.split()
for i in range(len(list_string)):
    length_list.append(len(list_string[i]))
    if length_min > length_list[i]:
      length_min = length_list[i]
      store_string = list_string[i]
print(f"the largest word in the string '{string_input}'  is {store_string}")

Enter the string: this is my name is i am very happy
the largest word in the string 'this is my name is i am very happy'  is i

In [ ]:
string_input = input("Enter the string: ")
list_string = string_input.split()
reverse_list = list_string[::-1]
print(reverse_list)
reverse_string = " ".join(reverse_list)
print(reverse_string)

22.Reverse the order of words in a string.

In [ ]:
string_input = input("Enter the string: ")
list_string = string_input.split()
reverse_list = list_string[::-1]
print(reverse_list)
reverse_string = " ".join(reverse_list)
print(reverse_string)

Enter the string: daha kumar rupesh name is my
['my', 'is', 'name', 'rupesh', 'kumar', 'daha']
my is name rupesh kumar daha

23.Check if a string is alphanumeric.

In [ ]:
input_string = input("Enter string: ")
result = input_string.isalnum()
if result:
    print(f"'{input_string}' is alphanumeric.")
else:
    print(f"'{input_string}' is not alphanumeric.")

24.Extract all digits from a string

In [ ]:
input_string = input("Enter string: ")
list_string =[]
for char in input_string:
  if char.isdigit():
    list_string.append(char)

digit_string = "".join(list_string)
print(digit_string)

Enter string: were3453
<class 'str'>

25.Extract all alphabets from a string

In [ ]:
input_string = input("Enter string: ")
list_string =[]
for char in input_string:
  if char.isalpha():
    list_string.append(char)

digit_string = "".join(list_string)
print(digit_string)

Enter string: hello2343hi34
hellohi

26.Count the number of uppercase letters in a string.

In [ ]:
input_string = input("Enter the string: ")
count_uppercase = 0
for letter in input_string:
    if(letter.isupper()):
      count_uppercase+=1
print(f"the number of uppercase letter in string '{input_string}' is {count_uppercase}")

Enter the string: hello Rupesh Kumar Daha
the number of uppercase letter in string 'hello Rupesh Kumar Daha' is 3

27.Count the number of lowercase letters in a string.

In [ ]:
input_string = input("Enter the string: ")
count_lowercase = 0
for letter in input_string:
    if(letter.islower()):
      count_lowercase+=1
print(f"the number of lowercase letter in string '{input_string}' is {count_lowercase}")

Enter the string: HELLO GUYD iS YOUr nAME
the number of uppercase letter in string 'HELLO GUYD iS YOUr nAME' is 3

28.Swap the case of each character in a string.

In [ ]:
input_string = input("Enter the string: ")
# string_list=[]
case_swaped_string=""
for char in input_string:
  if char.isupper():
    case_swaped_string +=char.lower()
    # string_list.append(char.lower())
  elif char.islower():
    # string_list.append(char.upper())
    case_swaped_string +=char.upper()

  else:
    # string_list.append(char)
    case_swaped_string +=char

# print(string_list)

# case_swaped_string = "".join(string_list)
print(case_swaped_string)

Enter the string: hELLO mY nAME iS rUPESH
Hello My Name Is Rupesh

29.Remove a specific word from a string.

In [ ]:
input_string = input("Enter the string: ")
word = input("Enter the specific word: ")
string_list = input_string.split()
index =0
# print(string_list)
for i in range(len(string_list)):
  if(string_list[i]==word):
     index=i

# print(i)
string_list.pop(index)
# print(string_list)
output_string = " ".join(string_list)

print(output_string)

Enter the string: hello my name is rupesh daha daha ok
Enter the specific word: ok
['hello', 'my', 'name', 'is', 'rupesh', 'daha', 'daha', 'ok']
7
['hello', 'my', 'name', 'is', 'rupesh', 'daha', 'daha']
hello my name is rupesh daha daha

30.Check if a string is a valid email address

In [ ]:
import re # re module to check if the provided email address matches the regular expression pattern
email = input("Enter email:") # take input as email
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
# print(re.match(pattern,email==True))
if(re.match(pattern,email)):
  print(f"'{email}' is a valid email address.")
else:
    print(f"'{email}' is not a valid email address.")

Enter email:daharupesh21@gmail.com
'daharupesh21@gmail.com' is a valid email address.

31.Extract the username from an email address string.

In [ ]:
email = input("Enter the email:")
email_list = email.split("@")
# print(email_list)
print(f"UserName  is: {email_list[0]}")

Enter the email:rupeshdaha@gmail.com
UserName  is: rupeshdaha

32.Extract the domain name from an email address string

In [ ]:
# import re
email = input("Enter the email:")
email_list = email.split("@")
print(email_list[-1])

Enter the email:rupeshdaha@gmail.com
gmail.com

33.Replace multiple spaces in a string with a single space.

In [ ]:
String_input=input("Enter the input string: ")
list_string = String_input.split()
# print(orignal_string)
orignal_string = " ".join(list_string)
print(orignal_string)

Enter the input string: rupesh          daha             rkd            rakesh
['Hello', 'my', 'name', 'is', 'rupesh', 'kumar', 'daha']
rupesh daha rkd rakesh

34.Check if a string is a valid URL.

In [ ]:
import re
url_pattern = re.compile(
        r'^(https?|ftp)://'
        r'([A-Za-z0-9.-]+)'
        r'(\:[0-9]+)?'
        r'(/[^/\s]+)*$'
    )
url1 = input("Enter the url :");
valid = bool(url_pattern.match(url1))

if valid:
  print("The given url is valid url...")

else:
  print("The give url is not valid url----")

Enter the url :https://www.w3schools.com/quiztest/quiztest.asp?qtest=CPP
The given url is valid url...

35.Extract the protocol (http or https) from a URL string.

In [ ]:
url_input = input("Enter the Url: ")
url_list = url_input.split(":")
print(url_list)

print(f"The given protocol is : {url_list[0]}")

Enter the Url: https://www.w3schools.com/quiztest/quiztest.asp?qtest=CPP
['https', '//www.w3schools.com/quiztest/quiztest.asp?qtest=CPP']
The given protocol is : https

36.Find the frequency of each character in a string

In [ ]:
input_string= input("Enter the string: ")
Char_frequency ={}

for char in input_string:
  if char.isalnum():
    char = char.lower()
    if char in Char_frequency:
      Char_frequency[char]+=1

    else:
      Char_frequency[char]=1
  else:
    if char in Char_frequency:
      Char_frequency[char]+=1

    else:
      Char_frequency[char]=1


for char, freq in Char_frequency.items():
  print(f"{char} of frequency is {freq}")

Enter the string: rupesh,,,daha&
r of frequency is 1
u of frequency is 1
p of frequency is 1
e of frequency is 1
s of frequency is 1
h of frequency is 2
, of frequency is 3
d of frequency is 1
a of frequency is 2
& of frequency is 1

In [ ]:
# input_string = input("Enter the string: ")
# char_frequence ={}
# for i in range(len(input_string)):
#   for j in range(len(input_string)):
#     if(input_string[i]==input_string[j]):
#        count +=1

#   print(input_string[i] , count)

#   count=0

Enter the string: rupeshdaha
r 1
u 1
p 1
e 1
s 1
h 2
d 1
a 2
h 2
a 2



37.Remove all punctuation from a string.

In [ ]:
import string
input_string = input("Enter the String_input: ")
list_of_string = []
for char in input_string:
  if char in string.punctuation:
     continue
  list_of_string.append(char)

# print(list_of_string)
pure_string = "".join(list_of_string)
print(pure_string)

Enter the String_input: hello ! how are you. this is^ join -
hello  how are you this is join

In [ ]:
input_string = input("Enter the String_input: ")
list_of_string = []
for char in input_string:
  if char.isalnum() or char.isspace():
    list_of_string.append(char)

# print(list_of_string)
pure_string = "".join(list_of_string)
print(pure_string)

Enter the String_input: Rupeshdaha. This is ny name... dn going to te market tha is is notign to befar
Rupeshdaha This is ny name dn going to te market tha is is notign to befar

38.Check if a string contains only digits

In [ ]:
input_string = input("Enter the string: ")
string=''
for char in input_string:
   if char.isdigit():
    string+=char



if(len(string)==len(input_string)):
  print(f"The given String '{input_string}'  contains only digits...")
else:
  print(f"The given string '{input_string}' contains digits and others..")

12325
The given string 'ruepw12325' contains digits and others..

39.Check if a string contains only alphabets.

In [ ]:
input_string = input("Enter the string: ")
string=''
for char in input_string:
   if char.isalpha():
    string+=char



if(len(string)==len(input_string)):
  print(f"The given String '{input_string}'  contains only alphabets...")
else:
  print(f"The given string '{input_string}' contains digits and alphabet..")

Enter the string: rupe234stg
The given string 'rupe234stg' contains digits and others..

40.Convert a string to a list of characters.

In [ ]:
string_input = input("Enter the string: ")
list_string = list(string_input)
print(list_string)

Enter the string: hellomyname
['h', 'e', 'l', 'l', 'o', 'm', 'y', 'n', 'a', 'm', 'e']

41.Check if two strings are anagrams.

In [ ]:
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
string1 = string1.replace(" ","")
string2 = string2.replace(" ","")
if(sorted(string1) == sorted(string2)):   # sorted function is used to sort the string...
  print(f"The '{string1}' and '{string2}' Strings are anagrams. ")
else:
    print(f"The '{string1}' and '{string2}' Strings are not anagrams. ")

Enter the second string: hrupes
The 'rupesh' and 'hrupes' Strings are anagrams.

42.Encode a string using a Caesar ciphe

In [ ]:
original_text = input("Enter the text: ")
shift = 3
result =""
for char in original_text:
  if char.isalpha():
    is_upper = char.isupper()
    shift_car = chr(((ord(char)-ord('A' if is_upper else 'a') +shift)% 26) + ord('A' if is_upper else 'a'))
    result +=shift_car

  else:
    result +=char


encoded_text = result

print("Original text :" , original_text)
print("Encoded text :" , encoded_text)

Enter the text: hello, world
Original text : hello, world
Encoded text : khoor, zruog

43.Decode a Caesar cipher encoded string.

In [ ]:
encoded_text = input("Enter the text: ")
shift = 3
result =""
for char in encoded_text:
  if char.isalpha():
    is_upper = char.isupper()
    shift_car = chr(((ord(char)-ord('A' if is_upper else 'a') -shift)% 26) + ord('A' if is_upper else 'a'))
    result +=shift_car

  else:
    result +=char


decoded_text = result
print("Encoded text:", encoded_text)
print("Decoded text:", decoded_text)

Enter the text: khoor, zruog
Encoded text: khoor, zruog
Decoded text: hello, world

44.Find the most frequent word in a string.

In [ ]:
string_input =input("Enter the string: ")
string_count=0
dict_string_count ={}
string_list = string_input.split()
for i in range(len(string_list)):
  for j in range(len(string_list)):
    if(string_list[i]==string_list[j]):
       string_count +=1
  dict_string_count[string_count]=string_list[i]
  string_count =0
print(dict_string_count)
print("The most frequent word in string is ", max[dict_string_count.keys()])

Enter the string: my name is rupesh i is fine is good
{1: 'good', 3: 'is'}
The most frequent word in string is  {1: 'good', 3: 'is'}

In [ ]:
string_input =input("Enter the string: ")
string_count=0
dict_string_count ={}
string_list = string_input.split()
for i in range(len(string_list)):
  for j in range(len(string_list)):
    if(string_list[i]==string_list[j]):
       string_count +=1
  dict_string_count[string_count]=string_list[i]
  string_count =0
print(dict_string_count)
print(list(dict_string_count.keys()))
maxvalue = max(list(dict_string_count.keys()))
print(maxvalue)
print("The most frequent word in string is " ,dict_string_count[maxvalue])

{1: 'be', 2: 'ok', 7: 'is'}
[1, 2, 7]
7
The most frequent word in string is  is

45.Find all unique words in a string.

In [ ]:
string_input =input("Enter the string: ")
string_count=0
dict_string_count ={}
string_list = string_input.split()
for i in range(len(string_list)):
  for j in range(len(string_list)):
    if(string_list[i]==string_list[j]):
       string_count +=1
  dict_string_count[string_list[i]]=string_count
  string_count =0
print("All the unique keys are :::")
for key in dict_string_count.keys():
  print(key)

Enter the string: rupesh daha and i am rupesh kumar and rupesh
rupesh
daha
and
i
am
kumar

46.Count the number of syllables in a string

In [ ]:
pip install nltk

In [ ]:
import nltk
from nltk.tokenize import SyllableTokenizer

input_text = input("Enter the input: ")
tokenizer = SyllableTokenizer()
syllables = tokenizer.tokenize(input_text)
syllable_count = len(syllables)
print(f"Number of syllables: {syllable_count}")

Enter the input: hello buss how are you help me please
Number of syllables: 16

/usr/local/lib/python3.10/dist-packages/nltk/tokenize/sonority_sequencing.py:102: UserWarning: Character not defined in sonority_hierarchy, assigning as vowel: ' '
  warnings.warn(

47.Check if a string contains any special characters.

In [ ]:
input_string = input("Enter the String input: ")
special_char = '[@_!#$%^&*()<>?/\|}{~:]'
decide = False
for i in input_string:
  if i in special_char:
    decide = True
    break
  else:
    decide = False
if decide:
  print(f"The string '{input_string}' contains special characters...")
else:
  print(f"the String '{input_string} doesnot contains special characters ...'")

Enter the String input: thsei 3353222222333@@#95339
The string 'thsei 3353222222333@@#95339' contains special characters...

48.Remove the nth word from a string.

In [ ]:
input_string = input("Enter the string: ")
list_string = input_string.split()
position = int(input("Enter the position:"))
del list_string[position-1]
final_string = " ".join(list_string)
print(final_string)

Enter the string: hello this is rupesh daha
Enter the position:4
hello this is daha

49.Insert a word at the nth position in a string.

In [ ]:
input_string = input("Enter the string input: ")
list_string  = input_string.split()
insert_word = input("Enter the inserting word: ")
position = int(input("Enter the position where you want to insert: "))
list_string.insert((position-1),insert_word)

final_string = " ".join(list_string)
print(final_string)

Enter the string input: hello my name is dha
Enter the inserting word: rupesh
Enter the position where you want to insert: 5
hello my name is rupesh dha

50.Convert a CSV string to a list of lists.

In [ ]:
import csv
from io import StringIO
csv_string = "Name,Age,Location\nAlice,25,New York\nBob,30,Los Angeles\nCharlie,22,San Francisco"
csv_reader = csv.reader(StringIO(csv_string))
csv_list = [row for row in csv_reader]
for row in csv_list:
  print(row)

['Name', 'Age', 'Location']
['Alice', '25', 'New York']
['Bob', '30', 'Los Angeles']
['Charlie', '22', 'San Francisco']

['Name', 'Age', 'Location']
['Alice', '25', 'New York']
['Bob', '30', 'Los Angeles']
['Charlie', '22', 'San Francisco']

List Based Practice Problems....

1.Create a list with integers from 1 to 10.

In [ ]:
list =[1,2,3,4,5,6,7,8,9,10] #list with integer value 1 to 10.
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.Find the length of a list without using the `len()` function.

In [ ]:
list =[1,2,3,4,5,6,7,"rupesh","daha"]
print("length of string using len function ", len(list))

count_length = 0
for i in list:
  count_length +=1


print("The length of list without using len function :" , count_length)

length of string using len function  9
The length of list without using len function : 9

3.Append an element to the end of a list

In [ ]:
List=[1,2,3,4,5,10,12] #sample list
List.append(13)  #append function is used to append an element to the last index...
print(List)

[1, 2, 3, 4, 5, 10, 12, 13]

4.Insert an element at a specific index in a list

In [ ]:
saple_list = [12,23,34,45,56,7]
postion = 3
saple_list.insert(postion,50)
print(saple_list)

[12, 23, 34, 50, 45, 56, 7]

5.Remove an element from a list by its value

In [ ]:
sample_list = [12,34,45,56,12]
value = 34
sample_list.remove(value)
print(sample_list)

[12, 45, 56, 12]

6.Remove an element from a list by its index.

In [ ]:
sample_list =[12,23,34,46,56,14]
position =int(input("Enter the specific ended:"))
sample_list.pop(position)
print(sample_list)

[12, 23, 34, 56, 14]

7.Check if an element exists in a list.

In [ ]:
sample_list =[23,3,5,7,9,34,5,23]
element = int(input("Enter the element: "))
exist_count = sample_list.count(element)

if exist_count>0:
  print(f"yes, {element} exists in list.")
else:
  print(f"No, {element} doest not exist in list")

Enter the element: 0
No, 0 doest not exist in list

8.Find the index of the first occurrence of an element in a list.

In [ ]:
sample_list = [12,23,34,5,26,56,34,89,34]
element = int(input("Enter the element: "))
index =0;
for i in range(len(sample_list)):
  if(sample_list[i]==element):
    index =i
    break

print(f"the index of the first occurrence of in a list is : {index}")

Enter the element: 5
the index of the first occurrence of in a list is : 3

10. Reverse the order of elements in a list.

In [ ]:
sample_list = [1,2,3,4,5,6,7,8,9,10]
revers_list = sample_list[::-1]  # negative indexing used to revers the order of elements in a list
print(revers_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11.Sort a list in ascending order.

In [ ]:
sample_list = [12,3,67,6,8,2,5,10,11,23]
sample_list.sort()
print(sample_list)

[2, 3, 5, 6, 8, 10, 11, 12, 23, 67]

12.Sort a list in descending order

In [ ]:
sample_list = [12,3,67,6,8,2,5,10,11,23]
sample_list.sort(reverse=True)
print(sample_list)

[67, 23, 12, 11, 10, 8, 6, 5, 3, 2]

13.Create a list of even numbers from 1 to 20.

In [ ]:
list =[]
for i in range(1,21):
   if i%2==0:
    list.append(i)
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14.Create a list of odd number from 1 to 20

In [ ]:
list =[]
for i in range(1,21):
   if i%2==0:
    continue
   list.append(i)
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15.Find the sum of all elements in a list.

In [ ]:
list=[12,23,34,45,6,7,8,9,10]
sum =0
for i in range(len(list)):
  sum = sum+list[i]

print("The sum of all the elements of list: ",sum)

The sum of all the elements of list:  154

16.Find the maximum value in a list.

In [ ]:
list = [12,2,3,4,5,6,9,45,100]
maxValue =0;
for i in range(len(list)):
  if (list[i]>maxValue):
    maxValue = list[i]

print(f"The MaxValue from the given list is: {maxValue}")

The MaxValue from the given list is: 100

17.Find the minimum value in a list

In [ ]:
list1 =[2,3,5,5,7,8,9,100,12,2,1]
minValue = list[0];
for i in range(len(list1)):
  if(list1[i]< minValue):
    minValue = list1[i]

print(f"the Minvalue from the given list is: {minValue}")

the Minvalue from the given list is: 1

18.Create a list of squares of numbers from 1 to 10.

In [ ]:
sample_list = []
for i in range(1,11):
  sample_list.append(i*i)

print(f"The list of squares of number is: {sample_list}")

The list of squares of number is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19.Create a list of random numbers

In [ ]:
import random

list_random =[]
for i in range(1,11):
  n = random.randint(1,10)
  list_random.append(n)

print(f"The list of random numbers: {list_random}")

The list of random numbers: [2, 5, 5, 6, 7, 3, 3, 10, 9, 9]

20.Remove duplicates from a list.

In [ ]:
input_list = [12,23,34,4,5,6,4,5,6,7,12]
list_set = set(input_list)
d_list =[]
for i in list_set:
  d_list.append(i)
print("The list after removed duplicates : ", d_list)

The list after removed duplicates :  [34, 4, 5, 6, 7, 12, 23]

21.Find the common elements between two lists.

In [ ]:
l1=[12,23,34,45,56,67,9,10,4]
l2=[4,34,23,56,67,10,4]
list_common = []

for i in range(len(l1)):
  for j in range(len(l2)):
    if l1[i]==l2[j]:
      list_common.append(l1[i])

set_common = set(list_common)


print("The common elements in l1 and l2 is: ", [i for i in set_common])

The common elements in l1 and l2 is:  [34, 67, 4, 10, 23, 56]

22.Find the difference between two lists.

In [ ]:
list1=[12,34,45,57,34,34,6]
list2=[3,4,5,34,5,6,12]

set1 = set(list1)
set2 = set(list2)

difference = list(set1 - set2)
print("The difference between tow list is: ", difference)

The difference between tow list is:  [57, 45]

23.Merge two lists.

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[11,12,13,14,15,16,17,18,19,20]

Merge_list = l1+l2
print("Two lists after Merge: ", Merge_list)

Two lists after Merge:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

24.Multply all elements in a list by 2.

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
l=[i*2 for i in l1]  # list element multiply by 2
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25.Filter out all even numbers from a list.

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
even_list = [num for num in l1 if num % 2 != 0] # logic used to filter out even number
print(even_list)

[1, 3, 5, 7, 9]

26.Convert a list of strings to a list of integers

In [ ]:
l1=["12","23","14","15","16","17","18","19","20"]
print([int(i) for i in l1]) # by using type casting converting the string into int

[12, 23, 14, 15, 16, 17, 18, 19, 20]

27.Convert a list of intergers to a list of strings.

In [ ]:
l1 =[12, 23, 14, 15, 16, 17, 18, 19, 20]
list_string = [str(i) for i in l1]
print(list_string)

['12', '23', '14', '15', '16', '17', '18', '19', '20']

28.Flatten a  nested list.

In [ ]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]
Flatten_list = []
for i in range(len(my_list)):
  for j in range(len(my_list[i])):
    Flatten_list.append(my_list[i][j])

print(Flatten_list)

[1, 2, 3, 4, 5, 6, 7]

29.Create a list of the first 10 Fibonacci numbers.

In [ ]:
fibonacci_list = []
n=10
a,b = 0, 1
for i in range(n):
     fibonacci_list.append(a)
     a, b = b, a + b  # Calculate the next Fibonacci number

print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30.Check if a list is sorted.

In [ ]:
l1=[1,2,3,5,6,8,9,10,11,12]
min
if l1==l1.sort():
  print("The list is sorted...")

else:
  print("The list is not sorted...")

None
The list is not sorted...

31.Rotate a list to the left by 'n' positions.

In [ ]:
l1=[1,2,3,4,5,6,7,9,10]
n=3
# print(n % len(l1))
rotated = l1[n:] + l1[:n]
print(rotated)

[4, 5, 6, 7, 9, 10, 1, 2, 3]

32.Rotate a list to the right by 'n' positions.

In [ ]:
l2=[12,23,34,45,56,55]
n=2
rotated =l2[-n:] + l2[:-n]
print(rotated)

[56, 55, 12, 23, 34, 45]

33.Create a list of prime numbers up to 50.

In [ ]:
prime_list=[]
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True
for num in range(1, 50):
    if is_prime(num):
        prime_list.append(num)

print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34.Split a list into chunks of size 'n'.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
n=3
l1=[]
for i in range(0, len(lst), n):
      l1.append(lst[i:i + n])
print(l1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35.Find the second largest number in a list.

In [ ]:
lst=[12,23,34,67,13,45]
large=0
second=0
for i in range(len(lst)):
  if(lst[i]>large and (lst[i]==lst[len(lst)-2])):
    large=lst[i]

  elif(lst[i]>large and second != large):
    second = lst[i]

print(f"second largest element is: {second}")

second largest element is: 45

36.Replace every element in a list with its square.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
sqr_list=[i*i for i in lst]
print(sqr_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

37.Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
lst=[2,4,6,8,10,12,14]
diction={}
for i in range(len(lst)):  #logic to converting list of indices as values of dictionary and list of values in keys of dictionary
  diction[lst[i]]=i

print(diction)

{2: 0, 4: 1, 6: 2, 8: 3, 10: 4, 12: 5, 14: 6}

38.Shuffle the elements of a list randomly.

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
shuffled_lst = my_list.copy()
random.shuffle(shuffled_lst)
print("Shuffled list:", shuffled_lst)

Shuffled list: [4, 1, 5, 3, 2]

39.Create a list of the first 10 factorial numbers.

In [ ]:
lst=[]
fact=1
for i in range(1,11):
  fact=fact*i
  lst.append(fact)

print("The list of 10 fact number is: ", lst)

The list of 10 fact number is:  [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40.Check if two lists have at least one element in common.

In [ ]:
lst1=[1,2,4,58,9,10]
lst2=[34,4,3,5,8,23]
decide=False
for i in range(len(lst1)):
  for j in range(len(lst2)):
    if(lst1[i]==lst2[j]):
      decide= True
      break
if decide:
  print("Two lists have at least one element is common")
else:
  print("Not common elements")

Two lists have one element in common

41.Remove all elements from a list.

In [ ]:
lst=[23,34,45,8,9,21,23,2]
lst.clear()  # clear function is used to remove all the elements from the list...
print(lst)

[]

42.Replace negative numbers in a list with 0

In [ ]:
lst=[12,2,-3,5,6,-9,3,9,-4,6,-5,9,-5]
for i in range(len(lst)):
  if lst[i]<0:                #this is logic to replace the negative numbers in a list with 0..
    lst[i]=0

print(lst)

[12, 2, 0, 5, 6, 0, 3, 9, 0, 6, 0, 9, 0]

43.Convert a string into a list of words.

In [ ]:
str1="Hello guys my name is rupesh kumar daha"
lst= str1.split()
print(lst)

['Hello', 'guys', 'my', 'name', 'is', 'rupesh', 'kumar', 'daha']

44.Convert a list of words into a string.

In [ ]:
lst =['This', 'is','my ', 'name','rupesh','kumar ','daha']

str1=  ' '.join(lst)
print(str1)

This is  my  name rupesh kumar  daha

45.Create a list of the first 'n' powers of 2.

In [ ]:
n=int(input("Enter the number of element: "))
lst=[]
power=1
for i in range(1,n+1):
  power=i*i
  lst.append(power)

print("The list of powers of 2 :",lst)

Enter the number of element: 10
The list of powers of 2 : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

46.Find the longest string in a list of strings.

In [ ]:
lst=["Hello","guys","welcome","to","this","youtubechannel"]
longest_str=0
longest_string=""

for i in range(len(lst)):
  if(len(lst[i])>longest_str):
    longest_str=len(lst[i])
    longest_string=lst[i]
print("The longest string is :",longest_string)

The longest string is : youtubechannel

47.Find the shortest string in a list of strings.

In [ ]:
lst=["Hello","guys","welcome","to","this","youtubechannel"]
shortest_str_len=len(lst[0])
shortest_string=""
for i in range(len(lst)):
  if(len(lst[i])<shortest_str_len):
    shortest_str_len=len(lst[i])
    shortest_string=lst[i]
print("The longest string is :",shortest_string)

The longest string is : to

48.Create a list of the first 'n' triangular numbers.

In [ ]:
n=int(input('Enter the number the total number: '))
lst=[]
sum=0
for i in range(1,n+1):
  sum+=i
  lst.append(sum)

print(f"the fist {n} trangular number is:  {lst}")

Enter the number the total number: 10
the fist 10 trangular number is:  [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49.Check if a list contains another list as a subsequence.

In [ ]:
lst=[1,3,4,6,8,9,10,[34,5,6],8,"hello"]
check=False
for i in range(len(lst)):
  if (type(lst[i])==list):
    check=True
if check:
  print(f"the list '{lst}' that contains the another list as a subsequence")
else:
  print(f"the list '{lst}' that doesnot contain the another list as a subsequence")

the list '[1, 3, 4, 6, 8, 9, 10, [34, 5, 6], 8, 'hello']' that contains the another list as a subsequence

50.Swap two elements in a list by their indices.

In [ ]:
lst=[12,34,45,34,56,90]
n1=int(input("Enter the index of fist element :"))
n2=int(input("Enter the index of second element :"))
if((0<=n1<(len(lst))) and(0<= n2<(len(lst)))):
  print("the list before swaping :",lst)
  lst[n1],lst[n2]=lst[n2],lst[n1]
  print("The list after swaping : ",lst)
else:
  print("invalid indices provided  .....  .....")

Enter the index of fist element :0
Enter the index of second element :5
the list before swaping : [12, 34, 45, 34, 56, 90]
The list after swaping :  [90, 34, 45, 34, 56, 12]

**Tuple Based Practice Problem**

1.Create a tuple with integers from 1 to 5.

In [ ]:
tpl=(1,2,3,4,5)
print(tpl)

(1, 2, 3, 4, 5)

2.Access the third element of a tuple.

In [ ]:
tpl=(1,2,3,4,5,6,7,8,9,10)
index=int(input("Enter the element positon you want to access: "))
print("The element is: ",tpl[index-1])

Enter the element positon you want to access: 3
The element is:  3

3.Find the length of a tuple without using the 'len()' function.

In [ ]:
tpl=(2,3,4,5,8,92,4,56,10)
lenth=0
for i in tpl:
  lenth+=1
print(f"The length of tuple '{tpl}' is:  {lenth}")

The length of tuple '(2, 3, 4, 5, 8, 92, 4, 56, 10)' is:  9

4.Count the occurrences of an element in a tuple.

In [ ]:
tpl=(2,3,4,8,9,3,4,5,3,67,3)
element=int(input("Enter the element: "))
occurence=0
for i in tpl:
  if element==i:
    occurence+=1

print(f"the occurences '{element}' in {tpl} is: {occurence}")

Enter the element: 4
the occurences '4' in (2, 3, 4, 8, 9, 3, 4, 5, 3, 67, 3) is: 2

5.Find the index of the first occurrence of an element in a tuple.

In [ ]:
tpl=(2,3,4,8,9,3,4,5,3,67,3)
element=int(input("Enter the element: "))
print(f"The fist occurrece of {element} is at index {tpl.index(element)}")

Enter the element: 3
The fist occurrece of 3 is at index 1

6.Check if an element exists in a tuple.

In [ ]:
tpl=(23,56,8,9,4,2,1,45)
element=int(input("Enter the element: "))
check=False
for i in tpl:
  if element==i:
      check=True
      break
if check:
 print(f"The element '{element} that exists in '{tpl}'")
else:
 print(f"The element '{element} that does not exist in '{tpl}'")

Enter the element: 0
The element '0 that does not exist in '(23, 56, 8, 9, 4, 2, 1, 45)'

7.Convert a tuple to a list.

In [ ]:
tpl=(23,34,8,7,9,10)
lst=list(tpl)
print(lst)

[23, 34, 8, 7, 9, 10]

8.Convert a list to a tuple

In [ ]:
lst=[1,2,3,4,5,9,7,8,10]
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 9, 7, 8, 10)

9.Unpack the elements of a tuple into variables.

In [ ]:
tpl=(1,3,5,7,9)
a,b,c,d,e=tpl
print(a,b,c,d,e)

1 3 5 7 9

10.Create a tuple of even numbers from 1 to 10.

In [ ]:
tpl=tuple(i for i in range(1,11) if i%2==0)
print(type(tpl),tpl)

<class 'tuple'> (2, 4, 6, 8, 10)

11.Create a tuple of odd numbers from 1 to 10.

In [ ]:
tpl=tuple(i for i in range(1,11) if i%2==1)
print(type(tpl),tpl)

<class 'tuple'> (1, 3, 5, 7, 9)

12.Concetenate two tuples.

In [ ]:
tpl1=(1,3,5,7,9)
tpl2=(2,4,6,8,10)
concanated_tpl=tpl1+tpl2
print(concanated_tpl)

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

13.Repeat a tuple three times.

In [ ]:
tpl=(1,2,3,4,5,6,7,8,9)
repeat_tpl=tpl*3
print(repeat_tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

14.Check if a tuple is empty.

In [ ]:
tpl=()
if(len(tpl)==0):
  print("Tuple is empty.")
else:
  print("Tuple is not empty.")

Tuple is empty.

15.Create a nested tuple.

In [ ]:
tpl=(1,2,4,5,(2,34,5,(4,5,8)))
print(tpl)
print(tpl[4][3])

(1, 2, 4, 5, (2, 34, 5, (4, 5, 8)))
(4, 5, 8)

16.Access the first element of a nested tuple.

In [ ]:
tpl=((3,5,5),4,5,(4,5))
print(tpl[0][0])

3

17.Create a tuple with a single element.

In [ ]:
tpl=(1,)
print(tpl)

(1,)

18.Compare two tuples.

In [ ]:
tpl1=(1,2,3)
tpl2=(1,2,3)
if tpl1==tpl2:
  print("Tuple1 is equal to tuple 2")
else:
  print("Tuple1 is not equal to tuple 2")

Tuple1 is equal to tuple 2

19.Delete a tuple.

In [ ]:
tpl1=(2,4,6,8,10)
del tpl1

NameError: ignored

20.Slice a tuple.

In [ ]:
tpl=(2,4,5,7,8,9)
print(tpl[1:4])

(4, 5, 7)

21.Find the maximum value in a tuple.

In [ ]:
tpl=(23,4,5,8,9,10,7)
print(max(tpl))

23

22.Find the minimum value in a tuple.

In [ ]:
tpl=(34,5,6,78,9,1)
print(min(tpl))

1

23.Convert a string to a tuple of characters.

In [ ]:
input_str="rupeshdaha"
lst=list(input_str)
tpl=tuple(lst)
print(tpl)

('r', 'u', 'p', 'e', 's', 'h', 'd', 'a', 'h', 'a')

24.Convert a tuple of characters to a string.

In [ ]:
tpl=('r', 'u', 'p', 'e', 's', 'h', 'd', 'a', 'h', 'a')
lst=list(tpl)
str_char="".join(lst)
print(str_char)

rupeshdaha

25.Create a tuple from multple data types.

In [ ]:
mixed_tuple=(1,1.4,"rupesh",True,{1:2,3:4},3+4j,[2,3,4])
print(mixed_tuple)

(1, 1.4, 'rupesh', True, {1: 2, 3: 4}, (3+4j), [2, 3, 4])

26.Check if two tuples are identical.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

27.Sort the elements of a tuple.

In [ ]:
tpl=(7,8,1,2,6,3,9,4,5)
sorted_tpl=tuple(sorted(tpl))
print(sorted_tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

29.Convert a tuple of strings to a tuple of integers.

In [ ]:
tpl=('1','2','3','4','5','6','7','9','10')
tuple_int=tuple(int(i) for i in tpl)
print(tuple_int)

(1, 2, 3, 4, 5, 6, 7, 9, 10)

30.Merge two tuples.

In [ ]:
tuple1=(1,2,3,4,5)
tuple2=(6,7,8,9,10)
merge_tuple=tuple1+tuple2
print("Merged tuple is: ",merge_tuple)

Merged tuple is:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

31.Flatten a nested tuple.

In [ ]:
tuple1=(1,2,3,(6,7,8),(9,10))
flatten_list=[]
for i in tuple1:
  if(type(i)==tuple):
    for j in i:
      flatten_list.append(j)
  else:
    flatten_list.append(i)
flatten_tuple=tuple(flatten_list)
print(flatten_tuple)

(1, 2, 3, 6, 7, 8, 9, 10)

32.Create a tuple of the first 5 prime numbers.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def generate_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return tuple(primes)

first_5_primes = generate_primes(5)
print(first_5_primes)

(2, 3, 5, 7, 11)

33.Check if a tuple is a palindrome.

In [ ]:
def is_palindrome_tuple(input_tuple):
    return input_tuple == input_tuple[::-1]

# Example usage:
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

if is_palindrome_tuple(tuple1):
    print("tuple1 is a palindrome.")
else:
    print("tuple1 is not a palindrome.")

if is_palindrome_tuple(tuple2):
    print("tuple2 is a palindrome.")
else:
    print("tuple2 is not a palindrome.")

tuple1 is a palindrome.
tuple2 is not a palindrome.

34.Create a tuple of squares of numbers from 1 to 5.

In [ ]:
tpl1=tuple(i*i for i in range(1,6))
print(tpl1)

(1, 4, 9, 16, 25)

35.Filter out all even numbers from a tuple.

In [ ]:
tpl=(1,2,3,4,5,6,7,8,9,10)
even_tuple=tuple(i for i in tpl if(i%2)==0)
print(even_tuple)

(2, 4, 6, 8, 10)

36.Multiply all elements in a tuple by 2.

In [ ]:
tpl=(1,2,3,4,5,6,7,8,9,10)
multiplied_tpl=tuple(i*2 for i in tpl)
print(multiplied_tpl)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37.Create a tuple of random numbers.

In [ ]:
import random

random_numbers = tuple(random.randint(1, 100) for i in range(5))

print(random_numbers)

(13, 28, 92, 6, 61)

38.Check if a tuple is sorted.

In [ ]:
def is_sorted_tuple(input_tuple):
    for i in range(len(input_tuple) - 1):
        if input_tuple[i] > input_tuple[i + 1]:
            return False
    return True

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 4, 3, 2, 1)

if is_sorted_tuple(tuple1):
    print("tuple1 is sorted.")
else:
    print("tuple1 is not sorted.")

if is_sorted_tuple(tuple2):
    print("tuple2 is sorted.")
else:
    print("tuple2 is not sorted.")

tuple1 is sorted.
tuple2 is not sorted.

39.Rotate a tuple to the left by 'n' positions.

In [ ]:
Original_tuple=(1,2,3,4,5,6)
n=2
n=n%len(Original_tuple)
rotated_tup = Original_tuple[n:]+Original_tuple[:n]
print(rotated_tup)

(3, 4, 5, 6, 1, 2)

40.Rotate a tuple to the right by 'n' positions.

In [ ]:
Original_tuple=(1,2,3,4,5,6)
n=3
n=n% len(Original_tuple)
rotated_tup = Original_tuple[-n:]+Original_tuple[:-n]
print(rotated_tup)

(4, 5, 6, 1, 2, 3)

41.Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
fibonacci_numbers =[]
n=5
a,b=0,1
for i in range(n):
  fibonacci_numbers.append(a)
  a,b = b, a+b

fist_5_fibonacci = tuple(fibonacci_numbers)
print(fist_5_fibonacci)

(0, 1, 1, 2, 3)

42.Create a tuple from user input.

In [ ]:
user_input = input("Enter a series of numbers separated by spaces: ")
input_list = user_input.split()
user_tuple= tuple(map(int, input_list))

print(user_tuple)

Enter a series of numbers separated by spaces: 1 2 3 4 5 6 7 8 9
(1, 2, 3, 4, 5, 6, 7, 8, 9)

43.Swap two elements in a tuple.

In [ ]:
tpl =(2,4,5,6,7,8,10)
my_list = list(tpl)
index1 = int(input("Enter the fist index: "))
index2 =int(input("Enter the second index: "))
my_list[index1],my_list[index2] = my_list[index2],my_list[index1]

my_swapped_tuple = tuple(my_list)
print(my_swapped_tuple)

Enter the fist index: 3
Enter the second index: 6
(2, 4, 5, 10, 7, 8, 6)

44.Reverse the elements of a tuple.

In [ ]:
tpl = (1,2,3,4,5,6,7,8,9,10)
lst = list(tpl)
tpl_reverse = tuple(lst[::-1])
print(tpl_reverse)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

45.Create a tuple of the first 'n' powers of 2

In [ ]:
tpl = tuple(i*i for i in range(1,11))
print(tpl)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

46.Find the longest string in a tuple of strings.

In [ ]:
def find_longest_string(strings_tuple):
    longest_string = ""
    for string in strings_tuple:

        if len(string) > len(longest_string):
            longest_string = string

    return longest_string
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")
longest = find_longest_string(my_tuple)
print("The longest string is:", longest)

The longest string is: elderberry

47.Find the shortest string in a tuple of strings.

In [ ]:
def find_shortest_string(strings_tuple):

    shortest_string = None
    for string in strings_tuple:
      if shortest_string is None or len(string) < len(shortest_string):
            shortest_string = string

    return shortest_string
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")
shortest = find_shortest_string(my_tuple)
print("The shortest string is:", shortest)

The shortest string is: date

48.Create a tuple of the first 'n' triangular numbers.

In [ ]:
def generate_triangular_numbers(n):
    triangular_numbers = []

    for i in range(1, n + 1):
        triangular_number = (i * (i + 1)) // 2
        triangular_numbers.append(triangular_number)

    return tuple(triangular_numbers)


n = 5
triangular_tuple = generate_triangular_numbers(n)
print(triangular_tuple)

(1, 3, 6, 10, 15)

49.Check if a tuple contains another tuple as a subsequence.

In [ ]:
def contains_subsequence(main_tuple, sub_tuple):
    for i in range(len(main_tuple) - len(sub_tuple) + 1):
        if main_tuple[i:i+len(sub_tuple)] == sub_tuple:
            return True

    return False


main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 4, 5)

if contains_subsequence(main_tuple, sub_tuple):
    print("The main tuple contains the subsequence.")
else:
    print("The main tuple does not contain the subsequence.")

The main tuple contains the subsequence.

50.Create a tuple of alternating 1s and 0s length 'n'.

In [ ]:
def alternating_ones_and_zeros(n):
    if n <= 0:
        return ()
    alternating_list = [1 if i % 2 == 0 else 0 for i in range(n)]
    alternating_tuple = tuple(alternating_list)

    return alternating_tuple


n = 7
result_tuple = alternating_ones_and_zeros(n)
print(result_tuple)

(1, 0, 1, 0, 1, 0, 1)

**Set Based Practice Problem**

1.Create a set with integers from 1 to 5.

In [ ]:
set1={1,2,3,4,5,6}
print(set1)

{1, 2, 3, 4, 5, 6}

2.Add an element from a set.

In [ ]:
set1={2,4,6,8,10}
set1.add(12)
print(set1)

{2, 4, 6, 8, 10, 12}

3.Remove an element from a set.

In [ ]:
set1={1,3,5,7,9,11}
set1.remove(7)
print(set1)

{1, 3, 5, 9, 11}

4.Check if an element exists in a set.

In [ ]:
from typing_extensions import TypeVarTuple
s1={1,2,3,4,5,6,7,8,9,10}
element = int(input("Enter the element: "))
check = False
for i in s1:
  if(i==element):
    check=True

if check:
  print(f"The element {element} exists in the set.")
else:
  print(f"The element {element} doesnot exist in the set.")

Enter the element: 11
The element 11 doesnot exist in the set.

5.Find the length of a set without using the 'len()' function.

In [ ]:
s1={2,3,4,5,6,9,10,11,12,13}
countlen =0
for i in s1:
  countlen +=1
print(f"The lenthe of set '{s1}' is : {countlen}")

The lenthe of set '{2, 3, 4, 5, 6, 9, 10, 11, 12, 13}' is : 10

6.Clear all elements from a set.

In [ ]:
s1={1,2,3,4,5,6,7,8,9,10}
s1.clear()
print(s1)

set()

7.Create a set of even numbers from 1 to 10.

In [ ]:
s1=set(i for i in range(1,11) if i%2==0)
print(s1)

{2, 4, 6, 8, 10}

8.Create a set of odd numbers from 1 to 10.

In [ ]:
s1=set(i for i in range(1,11) if i%2==1)
print(s1)

{1, 3, 5, 7, 9}

9.Find the union of two sets.

In [ ]:
s1={2,4,6,8,10}
s2={1,3,5,7,9}
union_set = s1.union(s2)
print(f"the uninon of s1Us2 is :{union_set}")

the uninon of s1Us2 is :{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10.Find the intersection of two sets.

In [ ]:
s1={2,4,6,8,10}
s2={2,3,5,7,11}
intersection_set = s1.intersection(s2)
print(f"the intersection of two set is: {intersection_set}")

the intersection of two set is: {2}

11.Find the difference between two sets.

In [ ]:
s1={2,4,6,8,10}
s2={2,3,5,7,11}
difference = s1-s2
print(f"the difference between two set is : {difference}")

the difference between two set is : {8, 10, 4, 6}

12.Check if a set is subset of another set

In [21]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

13.Check if a set is a superset of another set.

In [22]:
s1={1,2,3,4,5,6,7,8,9}
s2={1,3,5,7}
check = False
for i in s1:
  if i in s1:
    check = True

  else:
    check = False

if check:
    print(f"the set '{s1}' is super set of {s2} ")
else:
     print("It is not super set of another set...")

the set '{1, 2, 3, 4, 5, 6, 7, 8, 9}' is super set of {1, 3, 5, 7}

14.Create a set from a list.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9]
set1=set(lst)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

15.Convert a set to a list.

In [ ]:
set1={2,3,4,5,6,7,8,9,10}
lst = list(set1)
print(lst)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

16.Remove a random element from a set.

In [ ]:
my_set = {1, 2, 3, 4, 5}
if my_set:
    random_element = my_set.pop()
    print("Removed element:", random_element)
else:
    print("The set is empty.")

Removed element: 1

17.Pop an element from a set.

In [ ]:
my_set={2,4,6,8,10}
my_set.pop()
print(my_set)

{4, 6, 8, 10}

18.Check if two sets have no elements in common.

In [ ]:
s1={1,3,5,7,9,11}
s2={2,4,6,8,10,12}
common=s1.intersection(s2)
if len(common)==0:
  print("the two sets have no common elements.")
elif(len(common)>0):
  print("the two sets have some common elements.")

the two sets have no common elements.

19.Find the symmetric difference between two sets.

In [ ]:
set_A = {1, 2, 3, 4, 5}
set_B = {4, 5, 6, 7, 8}

symmetric_diff = set_A.symmetric_difference(set_B)

print("Symmetric Difference:", symmetric_diff)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20.Update a set with elements from another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)

print(set1)

{1, 2, 3, 4, 5}

21.Create a set of the first 5 prime numbers.

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = set()
num = 2

while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.add(num)
    num += 1

print(prime_numbers)

{2, 3, 5, 7, 11}

22.Check if two sets are identical.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23.Create a frozen set.

In [ ]:
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)

print(frozen_set)

frozenset({1, 2, 3, 4, 5})

24.check if a set is disjoint with another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

The sets are disjoint.

25.Create a set of squares of numbers from 1 to 5.

In [ ]:
squares_set = {x**2 for x in range(1, 6)}

print(squares_set)

{1, 4, 9, 16, 25}

26.Filter out all even numbers from a set.

In [ ]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

odd_numbers_set = {x for x in original_set if x % 2 != 0}

print(odd_numbers_set)

{1, 3, 5, 7, 9}

27.Multiply all elements in a set by 2.

In [ ]:
original_set = {1, 2, 3, 4, 5}

doubled_set = {x * 2 for x in original_set}

print(doubled_set)

{2, 4, 6, 8, 10}

28.Create a set of random numbers.

In [ ]:
import random
random_set = set(random.sample(range(1, 101), 5))
print(random_set)

{81, 20, 54, 60, 95}

29.Check if a set is empty.

In [ ]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30.Create a nested set(hint: use frozenset)

In [ ]:
nested_set = {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({7, 8, 9})}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

31.Remove an element from a set using the discard method.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}

32.Compare two sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

33.Create a set from a string.

In [ ]:
my_string = "Hello, World!"
char_set = {char for char in my_string}
print(char_set)

{',', 'l', 'W', '!', 'e', 'r', 'H', ' ', 'o', 'd'}

34.Convert a set of strings a set of integers.

In [ ]:
string_set = {"1", "2", "3", "4", "5"}
integer_set = {int(x) for x in string_set}
print(integer_set)

{1, 2, 3, 4, 5}

35.Convert a set of integers to a set of strings.

In [ ]:
integer_set = {1, 2, 3, 4, 5}
string_set = {str(x) for x in integer_set}
print(string_set)

{'3', '4', '5', '1', '2'}

36.Create a set from a tuple.

In [3]:
tpl =(12,3,4,5,6,3,8,9)
set1 = set(tpl)
print(set1)

{3, 4, 5, 6, 8, 9, 12}

37.Convert a set to a tuple.

In [2]:
set1={1,3,5,7,9,11,13}
tpl = tuple(set1)
print(tpl)

(1, 3, 5, 7, 9, 11, 13)

38.Find the maximum value in a set.

In [4]:
number_set = {12, 45, 7, 23, 56, 89, 34}
max_value = max(list(number_set))
print("The maximum value in the set is:", max_value)

The maximum value in the set is: 89

39.Find the minimum value in a set.

In [5]:
number_set={2,4,5,6,7,83,45,90,89}
min_value = min(list(number_set))
print("The minimum value in the set is: ", min_value)

The minimum value in the set is:  2

40.Create a set from user input.

In [9]:
user_inputs = [int(input("Enter an elements : ")) for _ in range(int(input("How many elements do you want to enter? ")))]
user_set = set(user_inputs)

# Print the resulting tuple
print("The tuple you created is:", user_set)

How many elements do you want to enter? 5
Enter an elements : 1
Enter an elements : 2
Enter an elements : 3
Enter an elements : 4
Enter an elements : 5
The tuple you created is: {1, 2, 3, 4, 5}

41.Check if the intersection of two sets is empty.

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

if set1.isdisjoint(set2):
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is empty.

42.Create a set of the first 5 Fibonacci numbers.

In [12]:
fibonacci_set = set()
a, b = 0, 1
for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

print("The set of the first 5 Fibonacci numbers is:", fibonacci_set)

The set of the first 5 Fibonacci numbers is: {0, 1, 2, 3}

43.Remove duplicates from a list using sets.

In [13]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
unique_list = list(unique_set)
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

44.Check if two sets have the same elements, regardless of their count.

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45.Create a set of the first 'n' powers of 2.

In [15]:
def generate_powers_of_2(n):
    powers_set = set()
    power = 1

    for _ in range(n):
        powers_set.add(power)
        power *= 2

    return powers_set
n = 5
powers_of_2_set = generate_powers_of_2(n)
print(f"The set of the first {n} powers of 2 is:", powers_of_2_set)

The set of the first 5 powers of 2 is: {1, 2, 4, 8, 16}

46.Find the common elements between a set a list.

In [16]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]


common_elements = my_set.intersection(my_list)
print("Common elements between the set and the list:", common_elements)

Common elements between the set and the list: {3, 4, 5}

47.Create a set of the first 'n' triangular numbers.

In [17]:
n = 5
triangular_numbers_set = set()
for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers_set.add(triangular_number)
print(f"The set of the first {n} triangular numbers is:", triangular_numbers_set)

The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

48.Check if a set contains another set as a subset.

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}


if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

49.Create a set of alternating 1s and 0s of length 'n'.

In [19]:
n = 10
alternating_set = set()
for i in range(n):
    alternating_set.add(i % 2)
print(f"The set of alternating 1s and 0s of length {n} is:", alternating_set)

The set of alternating 1s and 0s of length 10 is: {0, 1}

50.Merge multiple sets into one.

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged set using union():", merged_set)

Merged set using union(): {1, 2, 3, 4, 5, 6, 7}